/* ==UserStyle==
@name           Tesselator/Telescope Better Dark mode
@namespace      github.com/creator318/BetterDarkMode
@version        1.2.0
@description    Better dark mode for KMIT Tesselator/Telescope to be used along with DarkReader Browser Extension, Supports Firefox/Chrome/Edge. Now featuring QoL improvements as well.
@author         Jai Parmar
==/UserStyle== */
@-moz-document regexp("http://kmitonline.com/.*/mod/quiz/.*"), regexp("http://10.11(.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])){2}/.*/mod/quiz/.*") {
  * {
    user-select: none;
  }
  
  #page-content {
       
    .qno, .qtext, .qtext *, .answer, .answer * {
      user-select: text;
    }

    p:has(br:only-child) {
      display: none;
    }

    .answernumber {
      user-select: none;
    }
  }  
}

@-moz-document regexp("http://kmitonline.com/.*/mod/vpl/forms/edit.php.*"), regexp("http://10.11(.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])){2}/.*/mod/vpl/forms/edit.php.*") {
  html[data-darkreader-mode="dynamic"] {
    .ui-helper-clearfix:before,
    .ui-helper-clearfix:after {
      content: "";
      border-collapse: collapse
    }

    .ui-menu,
    .ui-menu-item {
      list-style-image: none;
    }

    .ui-tabs-anchor {
      background-color: #444;
    }

    .ui-progressbar,
    .ui-dialog,
    .ui-button,
    .ui-buttonset,
    .ui-button-text,
    .ui-button-text-only,
    .ui-dialog-content,
    .ui-dialog-titlebar,
    .ui-progressbar-overlay,
    .ui-widget-content,
    .ui-widget-header,
    .ui-state-focus,
    .ui-state-active,
    .ui-state-highlight,
    .ui-widget,
    .ui-state-default,
    .ui-widget-content,
    .ui-widget-header,
    .ui-widget-overlay,
    .ui-widget-shadow {
      background: none;
      border: 1px solid inherit;
    }

    .ui-buttonset a[id^='vpl_ide_'],
    .ui-buttonset :not(.ui-button-disabled) {
      background: none;
      background-color: #666;
      border: 1px solid inherit;
    }

    .ui-buttonset a.ui-button-disabled,
    a.ui-button-disabled span.ui-button-text i {
      background-color: #222;
    }

    .ui-dialog-titlebar {
      background-color: #111;
    }

    .ui-dialog,
    .vpl_ide_dialog {
      background-color: #222;
      opacity: 100%
    }
  }
}

@-moz-document domain("kmitonline.com"), regexp("http://10.11(.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])){2}/.*") {
  header nav, nav.navbar.fixed-top,
  section#footer-bottom  {
    background-color: #012951 !important;
  }
}
